#up {
    margin-top: 22px;
}

body {
    height: 4000px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}



.logo {
    width: 150px;

    a {
        img {
            width: 100%;
        }
    }
}



.navbar {
    width: 750px;

    ul {
        list-style: none;
        margin-top: 3px;

        li {
            transition: 0.4s;

            &:first-child {
                a {
                    color: #ec2127;
                }
            }

            &:not(:last-child) {
                margin-right: 15px;
            }

            a {
                color: #53595c;
                font-size: 15px;
                font-weight: 400;
                font-family: Arial, Helvetica, sans-serif;
                opacity: 1;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }
}



.right {

    display: flex;
    justify-content: space-around;
    align-items: center;

    .call-back {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 70px;

        a {
            color: #232222;
            font-weight: bold;
            font-size: 32px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .call-inform {
            margin-left: 10px;
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    .az-ru {
        a {
            color: black;
            opacity: 1;

            &:nth-child(2) {
                opacity: 0.7;
            }
        }
    }
}




#phone-header {
    .box {
        margin-top: 20px;

        i {
            color: black;
            font-size: 20px;
        }

        .left {
            .phone {
                margin-left: 20px;
            }
        }

        .center {
            .logo {
                width: 100px;

                img {
                    width: 100px;
                }
            }
        }

        .right {
            .search {
                margin-right: 20px;
            }
        }
    }

}


#down {
    background-color: #3C3F42;
    margin-top: 15px;

    .left {
        height: 64px;
        display: flex;
        align-items: center;

        .menu {
            background-color: #232222;
            padding: 20px;
            width: 310px;
            height: 100%;
            display: flex;
            align-items: center;

            .menu-button {
                i {
                    font-size: 25px;
                    color: white;
                }
            }

            .catalog {
                margin-left: 20px;

                span {
                    font-size: 16px;
                    color: #FFFFFF;
                    font-family: Arial, Helvetica, sans-serif;
                    cursor: pointer;
                }
            }
        }



        .search {
            width: 590px;
            height: 40px;
            background-color: white;
            border-radius: 5px;
            border: 1px solid;
            margin-left: 6px;
            display: flex;
            justify-content: space-between;

            input {
                outline: none;
                border: none;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            button {
                border: none;
                background-color: white;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

    }


    .right {
        margin-left: 25px;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .enter-account {
            display: flex;
            justify-content: center;

            a {
                border: 2px solid white;
                border-radius: 50%;
                text-align: center;
                padding: 4px;
                width: 30px;
                height: 30px;

                i {
                    font-size: 18px;
                    color: white;
                }
            }

            span {
                margin-left: 10px;
                font-size: 16px;
                color: white;
                cursor: pointer;
            }
        }

        .icons {
            width: 110px;
            display: flex;
            justify-content: space-around;

            a {
                i {
                    font-size: 20px;
                    color: white;
                }
            }
        }
    }
}




#menu {

    .slider-menu {
        line-height: 25px;
        box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
        padding: 10px;

        ul {
            margin-top: 13px;
            padding-left: 15px;

            li {




                a {
                    font-size: 14px;
                    color: #3C3F42;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    i {
                        font-size: 16px;

                        &:nth-child(3) {
                            font-size: 10px;
                        }


                    }

                    span {
                        flex: auto;

                    }

                    .span1 {
                        color: #ec2127;
                    }

                    .span2 {
                        color: #ec2127;
                    }

                    img {
                        margin-bottom: 5px;
                        width: 20px;
                        height: 20px;
                    }



                }



            }



        }
    }

    .slider {

        position: relative;
        box-shadow: rgb(0 0 0 / 4%) 0px 4px 12px;

        i {
            padding: 10px;
            font-size: 20px;
            border-radius: 50%;
            background-color: #eeeded9e;

        }

        .left {

            position: absolute;
            top: 50%;
            left: 2%;
            transform: translate(-50%, -50%);
            z-index: 1;
            cursor: pointer;
        }

        .right {

            position: absolute;
            top: 50%;
            right: 2%;
            transform: translate(-50%, -50%);
            cursor: pointer;

        }



        a {

            position: relative;
            left: -13px;
        }

        .lines {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 25px;
            left: 218px;

            .line-red {
                border: 2px solid red;
                background-color: red;
                width: 90px;
                height: 2px;
                margin-right: 15px;
            }

            .line {
                border: 2px solid gray;
                background-color: gray;
                opacity: 0.5;
                width: 90px;
                margin-right: 15px;
            }


        }




    }

    .lines {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 35px;
        left: 200px;

        .line-red {
            border: 2px solid red;
            background-color: red;
            width: 70px;
            height: 2px;
            margin-right: 15px;
        }

        .line {
            border: 2px solid gray;
            background-color: gray;
            opacity: 0.5;
            width: 70px;
            margin-right: 15px;
        }


    }







    #guarantees {

        margin-top: 85px;

        .box1 {
            height: 137px;
            width: 317px;
            border-radius: 5px;
            background-color: #E9E9EA;
            position: relative;
            padding: 20px;


            .text1 {
                position: absolute;
                width: 195px;
                z-index: 1;

                h3 {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                }

                span {
                    font-size: 14px;
                    font-family: Arial, Helvetica, sans-serif;
                    color: #808080f5;
                }
            }

            img {
                position: absolute;
                width: 39%;
                left: 194px;
                top: 29px;

            }

        }

        .box2 {

            height: 137px;
            width: 317px;
            border-radius: 5px;
            background-color: #E9E9EA;
            position: relative;
            padding: 20px;

            .text2 {
                position: absolute;
                width: 195px;
                z-index: 1;

                h3 {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;

                }

                span {
                    font-size: 14px;
                    font-family: Arial, Helvetica, sans-serif;
                    color: #808080f5;
                }
            }

            img {
                position: absolute;
                width: 37%;
                left: 199px;
                bottom: 0px;
                border-bottom-right-radius: 5px;

            }

        }


        .box3 {

            height: 137px;
            width: 317px;
            border-radius: 5px;
            background-color: #E9E9EA;
            position: relative;
            padding: 20px;

            .text3 {
                position: absolute;
                width: 195px;
                z-index: 1;

                h3 {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                }

                span {
                    font-size: 14px;
                    font-family: Arial, Helvetica, sans-serif;
                    color: #808080f5;
                }
            }

            img {
                position: absolute;
                width: 37%;
                left: 199px;
                bottom: 0px;
                border-bottom-right-radius: 5px;
            }

        }



        .box4 {

            height: 137px;
            width: 317px;
            border-radius: 5px;
            background-color: #E9E9EA;
            position: relative;
            padding: 20px;

            .text4 {
                position: absolute;
                width: 195px;
                z-index: 1;

                h3 {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                }

                span {
                    font-size: 14px;
                    font-family: Arial, Helvetica, sans-serif;
                    color: #808080f5;
                }
            }

            img {
                position: absolute;
                width: 37%;
                left: 199px;
                bottom: 0px;
                border-bottom-right-radius: 5px;
            }

        }



    }







    #product-card {
        box-shadow: rgb(191 182 182 / 18%) 0px 3px 8p;

        .card-1 {
            margin-top: 50px;

            .firts-card-text {

                display: flex;
                gap: 10px;

                h2 {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                }

                span {
                    font-weight: 400;
                    font-size: 13px;
                    color: #3C3F42;
                    font-family: Arial, Helvetica, sans-serif;
                }

                i {
                    font-size: 12px;
                    color: #3C3F42;
                }
            }

            .up {

                display: flex;
                gap: 6px;
                flex-wrap: wrap;
                font-size: 11px;

                letter-spacing: .05em;
                text-transform: uppercase;

                .p-one {
                    background-color: #0bbd0b;
                    width: 75px;
                    text-align: center;
                    color: white;
                    font-family: Arial, Helvetica, sans-serif;

                }

                .p-two {
                    background-color: rgb(140, 98, 161);
                    width: 75px;
                    text-align: center;
                    color: white;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-bottom: auto;
                }

                .p-three {
                    margin-top: -5px;
                    margin-bottom: 0px;
                    font-weight: 500;
                    line-height: 20px;
                    background-color: rgba(37, 174, 96, 0.1);
                    color: rgb(37, 174, 96);
                    width: 209px;
                    text-align: center;
                    height: 20px;
                    font-family: Arial, Helvetica, sans-serif;

                }

                .p-four {
                    margin-bottom: 0;

                    font-weight: 600;
                    line-height: 160%;
                    background-color: rgb(23, 104, 201);
                    color: white;
                    width: 96px;
                    text-align: center;
                    height: 19px;
                    font-family: Arial, Helvetica, sans-serif;

                }
            }


            .firstcard {
                border: none;
                box-shadow: rgb(0 0 0 / 7%) 0px 3px 8px;

                .text-star {

                    .p-five {
                        font-size: 14px;
                        margin-right: 5px;
                        margin-bottom: 0;
                        margin-left: 16px;
                        font-weight: 500;
                        color: #000000d4;
                        font-family: Arial, Helvetica, sans-serif;


                    }

                    .star {
                        color: rgb(128 128 128 / 18%);
                        font-size: 14px;
                        margin-left: 18px;
                        margin-top: 10px;

                        span {
                            color: gray;
                            font-size: 12px;
                            margin-left: 12px;
                            font-family: Arial, Helvetica, sans-serif;

                        }
                    }

                    .price {
                        margin-top: 50px;
                        margin-left: 18px;
                        font-weight: bold;
                        font-size: 24px;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                }

                .card-down {
                    color: red;

                    .a1 {
                        border-bottom: 1px dotted;
                        margin-left: 5px;
                        color: #53595c;
                        font-size: 12px;

                    }



                }

                .shop-car {
                    box-shadow: 0 2px 8px rgb(8 8 8 / 12%);
                    color: red;
                    justify-content: center;
                    display: flex;
                    width: 48px;
                    bottom: 75px;
                    left: 80%;
                    position: relative;
                    font-size: 25px;
                    height: 48px;
                    background-color: #fafafa73;
                    align-items: center;
                    border-radius: 50%;


                    a {
                        :hover {
                            background-color: red;
                        }
                    }
                }

                ul {

                    margin-right: 15px;
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 17px;
                    font-size: 25px;
                    font-family: Arial, Helvetica, sans-serif;
                    gap: 15px;

                    a {
                        color: #4244466e;

                        :hover {
                            color: red;
                        }
                    }
                }
            }

            img {
                margin-top: 30px;
                padding: 35px;

            }
        }


        .card-2 {
            margin-top: 80px;

            .img-card-two {
                margin-top: 33%;
            }

            .img-card-three {
                margin-top: 34.5%;
            }

            .img-card-four {
                margin-top: 47%;
            }

            .p-five-edit {
                font-size: 14px;
                font-family: Arial, Helvetica, sans-serif;
                margin-right: 5px;
                margin-bottom: 0;
                margin-left: 16px;
                font-weight: 500;
                color: #000000d4;
            }
        }


    }

    .borders {
        margin-top: 15px;
        width: 100%;
        height: 8px;
        border: 2px solid;
        display: flex;
        border-radius: 5px;
        border: none;

        .border1 {
            width: 275px;
            height: 100%;
            background-color: #ec2127;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-top-right-radius: 5px;
        }

        .border2 {
            width: 1020px;
            height: 100%;
            background-color: #bdbbbb2b;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

        }


    }

}


#maxi-sechimi {

    .box {
        margin-top: 100px;
        border-radius: 25px;
        box-shadow: rgb(235 237 238 / 0%) 0px 1px 2px 0px, rgb(60 64 67 / 11%) 0px 2px 6px 2px;

        .product-chips {
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            margin-top: 100px;
            height: 175px;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border: none;

            .product-chips-up {

                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: -27px;
                margin-top: -15px;

                h2 {
                    margin: 50px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 800;
                    font-size: 35px;
                    line-height: 120%;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    color: red;

                    span {
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 800;
                        line-height: 120%;
                        letter-spacing: .02em;
                        text-transform: uppercase;
                        color: blue;
                    }
                }



                img {
                    float: right;
                    width: 115px;
                    height: 75px;
                    margin: 20px;
                }

            }


            .product-list {
                white-space: nowrap;
                margin-left: 46px;
                width: 1135px;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .product-active {
                    background-color: #0c61d5;
                    color: white;
                    font-weight: 500;
                    font-size: .875rem;
                    line-height: 140%;
                    letter-spacing: .02em;
                    text-transform: uppercase;
                    border-radius: 20px;
                    padding: 6px 14px;
                    cursor: pointer;

                    border-radius: 25px;

                }

                .product {
                    font-weight: 500;
                    font-size: .875rem;
                    line-height: 140%;
                    letter-spacing: .02em;
                    text-transform: uppercase;
                    background-color: #eaf0f8;
                    border-radius: 20px;
                    padding: 6px 14px;
                    cursor: pointer;

                    background-color: #eaf0f8;
                    border-radius: 25px;
                }



                .product-list:not(:last-child) {
                    margin-left: 12px;


                }

            }

        }


        #product-chips-main {

            background-color: #FFA31A;
            display: flex;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;

            .product-about {
                .product-description {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    color: #fff;

                    ul {
                        color: white;
                        width: 350px;
                        padding-top: 70px;
                        padding-left: 70px;
                        list-style: circle;
                    }
                }

                img {
                    margin-left: 55px;
                    margin-top: 30px;
                }

            }

        }

        .product-slider {
            display: flex;

            .slide {
                width: 680px;
                height: 290px;
                background-color: white;
                padding-left: 35px;
                padding-top: 30px;
                margin-top: 60px;
                margin-bottom: 60px;
                border-radius: 25px;
                margin-left: 10px;

                .slide-card {
                    display: flex;

                    .slide-img {
                        img {
                            width: 230px;
                            height: 230px;
                        }

                    }

                    .right {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        margin-left: 50px;

                        .img-about {
                            a {
                                color: black;
                                margin-right: 50px;

                            }
                        }

                        .star {
                            color: rgba(128, 128, 128, 0.18);
                            font-size: 18px;
                            width: 187px;
                            margin-right: 273px;
                            margin-top: 7px;
                            column-gap: 7px;
                            align-items: center;

                            span {
                                color: #808080cf;
                                font-size: 14px;
                                margin-left: 3px;
                                font-family: Arial, Helvetica, sans-serif;

                            }
                        }



                        .right-under {

                            position: relative;
                            right: 115px;
                            top: 15px;

                            .price {
                                font-size: 30px;
                                font-weight: bold;

                                span {
                                    color: red;
                                }
                            }

                            .in-month-money {
                                color: red;
                                margin-bottom: 15px;


                                .a1 {
                                    border-bottom: 1px dotted;
                                    margin-left: 5px;
                                    color: #53595c;
                                    font-size: 12px;

                                }

                            }

                            .card-button {

                                display: flex;
                                align-items: center;

                                button {
                                    border: none;
                                    border-radius: 5px;
                                    width: 125px;
                                    height: 48px;
                                    color: white;
                                    background-color: red;
                                }

                                a {
                                    margin-left: 25px;

                                    color: black;
                                }

                            }

                        }


                    }

                }
            }
        }
    }
}

#brands {

    margin-top: 100px;

    .samsung {
        position: relative;

        a {
            .place {
                width: 175px;
                height: 175px;

            }

            .smsng {
                position: relative;
                bottom: 107px;
                left: 9px;
            }

        }
    }

    .apple {
        position: relative;

        a {
            .place {
                width: 175px;
                height: 175px;

            }

            .apple {
                position: relative;
                bottom: 106px;
                left: 23px;
            }

        }
    }

    .mi {
        position: relative;

        a {
            .place {
                width: 175px;
                height: 175px;

            }

            .mi {
                position: relative;
                bottom: 110px;
                left: 64px;
            }

        }
    }

    .lenova {
        position: relative;

        a {
            .place {
                width: 175px;
                height: 175px;

            }

            .lenova {
                position: relative;
                bottom: 110px;
                left: 12px;
            }

        }
    }

    .zimmer {
        position: relative;

        a {
            .place {
                width: 175px;
                height: 175px;

            }

            .zimmer {
                position: relative;
                bottom: 106px;
                left: 11px;
                width: 153px;
            }

        }
    }

    .all-brands {
        position: relative;

        .place {
            width: 175px;
            height: 175px;

        }

        a {
            position: relative;
            bottom: 102px;
            left: 12px;
            font-size: 18px;
            font-weight: 600;
            font-family: Arial, Helvetica, sans-serif;
            color: black;

        }

    }


}


@media screen and (max-width: 768px) and (min-width: 576px) {

    #brands {
        .mi {
            position: relative;

            a {
                .place {
                    width: 175px;
                    height: 175px;

                }

                .mi {
                    position: relative;
                    left: -113px;
                    top: 0;
                }

            }
        }

        .all-brands {
            position: relative;

            .place {
                width: 175px;
                height: 175px;

            }

            a {
                position: absolute;
                bottom: 72px;
                left: 12px;
                font-size: 18px;
                font-weight: 600;
                font-family: Arial, Helvetica, sans-serif;
                color: black;

            }

        }

    }


}








@media only screen and (min-width: 768px) {
    .product-list {
        margin-left: 54px;

    }
}

@media only screen and (min-width: 768px) {
    .product-description {
        width: 73%;
        order: 1;
    }

}

@media only screen and (min-width: 768px) {
    .products-chips__timer {
        width: unset;
    }

}

@media only screen and (min-width: 768px) {
    .products-chips__slider {
        order: 2;
        margin-bottom: 33px;
    }

}

@media screen and (max-width: 768px) and (min-width: 576px) {
    .slide {
        width: 477px;
        height: 290px;
        background-color: white;
        padding-left: 22px;
        padding-top: 46px;
        margin-top: 60px;
        margin-bottom: 60px;
        border-radius: 25px;
        margin-left: 10px;

        .slide-card {
            width: 132px;

            .right {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-left: 20px;

                .img-about {
                    margin-right: 189px;
                    font-size: 11px;
                }

                .star {
                    color: rgba(128, 128, 128, 0.18);
                    font-size: 10px;
                    width: 160px;
                    margin-right: 298px;
                    margin-top: 7px;
                    -moz-column-gap: 7px;
                    column-gap: 7px;
                    align-items: center;
                }

                .right-under {
                    position: relative;
                    right: 139px;
                    top: 15px;

                    .price {
                        font-size: 20px;
                        font-weight: bold;
                    }

                    .in-month-money {
                        .a1 {
                            border-bottom: 1px dotted;
                            margin-left: 4px;
                            color: #53595c;
                            font-size: 11px;
                        }
                    }

                    .car {
                        display: flex;
                        align-items: center;
                        margin-right: 47px;
                    }

                    .card-button {
                        button {
                            border: none;
                            border-radius: 5px;
                            width: 70px;
                            height: 30px;
                            color: white;
                            background-color: red;
                        }

                        a {
                            margin-left: 6px;
                            color: black;
                            font-size: 12px;
                        }
                    }
                }
            }

        }

        .slide-img {

            img {}

            width: 200px;
            height: 200px;
        }

    }

}

@media only screen and (min-width: 992px) {
    .slide-img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (min-width: 992px) {
    .img-name {
        font-size: 1.25rem;
        line-height: 110%;
    }
}





.maxis {
    height: 750px;
    width: 1325px;
    background-color: #EDEDEE;
    margin-left: 115px;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;

    .sale {
        padding-top: 40px;
        padding-left: 40px;

        .maxisale {
            span {
                font-size: 40px;
                font-weight: bold;


                &:nth-child(1) {
                    color: #ec2127;
                }
            }
        }


        .sent {

            p {
                font-size: 18px;
                width: 301px;
                color: #6a6767;
            }
        }

        button {
            margin-top: 30px;
            background-color: #ec2127;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 4px;
        }

        .img {
            margin-top: 206px;


            img {
                width: 300px;
                height: 300px;
            }
        }

    }





    .carts {
        display: flex;


        .cart1 {
            height: 650px;
            width: 300px;
            background-color: white;
            border-radius: 5px;
            margin-top: 60px;
            margin-left: 20px;


            .img {
                display: flex;

                .image {

                    img {


                        width: 70px;
                        height: 67px;
                        margin-left: 5px;
                        margin-top: 5px;
                    }
                }

                .icon {

                    ul {
                        display: flex;
                        margin-left: 132px;
                        margin-top: 25px;


                        li {
                            list-style: none;



                            a {
                                text-decoration: none;



                                i {
                                    background-color: white;
                                    color: #85898B;



                                }
                            }
                        }
                    }
                }
            }


            .images {
                margin-left: 50px;


                img {
                    width: 212px;
                    height: 200px;
                }
            }


            .taksit {

                display: flex;
                gap: 5px;
                margin-left: 20px;
                margin-top: 20px;


                .taks {
                    font-size: 12px;

                    span {
                        color: white;
                        background-color: #8C62A1;
                        padding: 1px 5px;
                    }
                }


                .stok {
                    font-size: 12px;

                    span {

                        color: green;
                        background-color: #CEEDDB;
                        padding: 1px 9px;
                    }
                }
            }

            .end {
                display: flex;
                gap: 5px;
                margin-left: 20px;
                margin-top: 5px;

                .endirim {
                    font-size: 12px;

                    span {
                        color: white;
                        background-color: #FBC561;
                        padding: 1px 5px;
                    }
                }

                .edv {
                    font-size: 12px;

                    span {
                        color: white;
                        background-color: blue;
                        padding: 1px 9px;
                    }
                }
            }

            .gb {
                margin-top: 5px;
                margin-left: 20px;

                a {
                    text-decoration: none;
                    color: red;
                    border: 1px solid red;
                    border-radius: 20px;


                    span {


                        font-size: 16px;
                        font-size: 12px;
                        padding: 1px 4px;

                    }
                }
            }


            .pointer {
                border: 1px solid red;
                height: 23px;
                width: 23px;
                background: white;
                border-radius: 62%;
                margin-top: 5px;
                margin-left: 18px;

                .round {

                    a {
                        text-decoration: none;
                    }

                    text-align: center;

                    color: gray;
                    width: 15px;
                    height: 15px;
                    background: gray;
                    margin-top: 3px;
                    margin-left: 3px;
                    border-radius: 50%;



                }

            }

            .sent1 {
                width: 253px;
                margin-left: 20px;
                margin-top: 5px;

                span {}
            }

            .star {
                margin-left: 18px;

                list-style: none;
                color: #EAEAEA;

                span {
                    color: #686b6f;
                    font-size: 12px;
                }



                a {
                    text-decoration: none;
                    font-size: 15px;
                    color: #EAEAEA;


                    i {
                        color: #EAEAEA;

                    }



                }



            }

            .price {
                display: flex;
                gap: 10px;
                margin-left: 20px;
                margin-top: 30px;

                .price1 {

                    span {
                        color: black;
                        font-weight: bold;
                        font-size: 25px;
                    }

                }


                .price2 {
                    margin-top: 8px;

                    del {
                        color: #686b6f;
                    }
                }
            }

            .endshop {

                display: flex;


                .endirim1 {
                    margin-left: 20px;

                    span {

                        color: #39B56E;
                        font-size: 12px;
                    }

                }



            }

            .icon2 {

                border-radius: 50%;
                box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
                width: 50px;
                height: 50px;
                margin-left: 220px;

                a {





                    i {

                        padding-top: 15px;
                        padding-left: 10px;
                        font-size: 25px;
                        color: red;
                    }

                }
            }

            .month {
                margin-left: 20px;

                a {
                    text-decoration: none;


                    span {
                        color: #686b6f;
                        font-size: 15px;
                        margin-left: 8px;
                        border-bottom: 1px dashed black;

                    }


                    i {
                        color: #FD6A00;
                    }
                }
            }




        }











        .cart2 {
            height: 650px;
            width: 300px;
            background-color: white;
            border-radius: 5px;
            margin-top: 60px;
            margin-left: 20px;


            .img {
                display: flex;

                .image {

                    img {


                        width: 69px;
                        height: 57px;
                        margin-left: 5px;
                        margin-top: 5px;
                        margin-top: 12px;
                    }
                }

                .icon {

                    ul {
                        display: flex;
                        margin-left: 136px;
                        margin-top: 28px;

                        li {
                            list-style: none;



                            a {
                                text-decoration: none;



                                i {
                                    background-color: white;
                                    color: #85898B;



                                }
                            }
                        }
                    }
                }
            }


            .images {
                margin-left: 50px;


                img {
                    width: 117px;
                    height: 202px;
                    margin-left: 44px;
                }
            }


            .taksit {

                display: flex;
                gap: 5px;
                margin-left: 20px;
                margin-top: 20px;


                .taks {
                    font-size: 12px;

                    span {
                        color: white;
                        background-color: #8C62A1;
                        padding: 1px 5px;
                    }
                }


                .stok {
                    font-size: 12px;

                    span {

                        color: green;
                        background-color: #CEEDDB;
                        padding: 1px 9px;
                    }
                }
            }

            .end {
                display: flex;
                gap: 5px;
                margin-left: 20px;
                margin-top: 5px;

                .endirim {
                    font-size: 12px;

                    span {
                        color: white;
                        background-color: #FBC561;
                        padding: 1px 5px;
                    }
                }

                .edv {
                    font-size: 12px;

                    span {
                        color: white;
                        background-color: blue;
                        padding: 1px 9px;
                    }
                }
            }

            .gb {
                margin-top: 5px;
                margin-left: 20px;

                a {
                    text-decoration: none;
                    color: red;
                    border: 1px solid red;
                    border-radius: 20px;


                    span {


                        font-size: 16px;
                        font-size: 12px;
                        padding: 1px 4px;

                    }
                }
            }


            .pointer {
                border: 1px solid red;
                height: 23px;
                width: 23px;
                background: white;
                border-radius: 62%;
                margin-top: 5px;
                margin-left: 18px;

                .round {

                    a {
                        text-decoration: none;
                    }

                    text-align: center;

                    color: gray;
                    width: 15px;
                    height: 15px;
                    background: #120B8F;
                    margin-top: 3px;
                    margin-left: 3px;
                    border-radius: 50%;



                }

            }

            .sent1 {
                width: 253px;
                margin-left: 20px;
                margin-top: 5px;

                span {}
            }

            .star {
                margin-left: 18px;

                list-style: none;
                color: #EAEAEA;

                span {
                    color: #686b6f;
                    font-size: 12px;
                }



                a {
                    text-decoration: none;
                    font-size: 15px;
                    color: #EAEAEA;


                    i {
                        color: #EAEAEA;

                    }



                }



            }

            .price {
                display: flex;
                gap: 10px;
                margin-left: 20px;
                margin-top: 30px;

                .price1 {

                    span {
                        color: black;
                        font-weight: bold;
                        font-size: 25px;
                    }

                }


                .price2 {
                    margin-top: 8px;

                    del {
                        color: #686b6f;
                    }
                }
            }

            .endshop {

                display: flex;


                .endirim1 {
                    margin-left: 20px;

                    span {

                        color: #39B56E;
                        font-size: 12px;
                    }

                }

            }

            .icon2 {
                border-radius: 50%;
                box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
                width: 50px;
                height: 50px;
                margin-left: 220px;

                a {

                    i {

                        padding-top: 15px;
                        padding-left: 10px;
                        font-size: 25px;
                        color: red;
                    }

                }
            }

            .month {
                margin-left: 20px;

                a {
                    text-decoration: none;

                    span {
                        color: #686b6f;
                        font-size: 15px;
                        margin-left: 8px;
                        border-bottom: 1px dashed black;
                    }

                    i {
                        color: #FD6A00;
                    }
                }
            }

        }

        .cart3 {
            height: 650px;
            width: 300px;
            background-color: white;
            border-radius: 5px;
            margin-top: 60px;
            margin-left: 20px;

            .img {
                display: flex;

                .image {

                    img {
                        width: 70px;
                        height: 68px;
                        margin-left: 8px;
                        margin-top: 10px;
                    }
                }

                .icon {

                    ul {
                        display: flex;
                        margin-left: 130px;
                        margin-top: 30px;


                        li {
                            list-style: none;

                            a {
                                text-decoration: none;

                                i {
                                    background-color: white;
                                    color: #85898B;

                                }
                            }
                        }
                    }
                }
            }


            .images {
                margin-left: 50px;

                img {
                    width: 145px;
                    height: 193px;
                    margin-left: 33px;
                }
            }


            .taksit {
                display: flex;
                gap: 5px;
                margin-left: 20px;
                margin-top: 20px;


                .taks {
                    font-size: 12px;

                    span {
                        color: white;
                        background-color: #8C62A1;
                        padding: 1px 5px;
                    }
                }


                .stok {
                    font-size: 12px;

                    span {
                        color: green;
                        background-color: #CEEDDB;
                        padding: 1px 9px;
                    }
                }
            }

            .end {
                display: flex;
                gap: 5px;
                margin-left: 20px;
                margin-top: 5px;

                .endirim {
                    font-size: 12px;

                    span {
                        color: white;
                        background-color: #FBC561;
                        padding: 1px 5px;
                    }
                }

                .edv {
                    font-size: 12px;

                    span {
                        color: white;
                        background-color: blue;
                        padding: 1px 9px;
                    }
                }
            }

            .gb {
                margin-top: 5px;
                margin-left: 20px;

                a {
                    text-decoration: none;
                    color: red;
                    border: 1px solid red;
                    border-radius: 20px;

                    span {
                        font-size: 16px;
                        font-size: 12px;
                        padding: 1px 4px;

                    }
                }
            }

            .pointer {
                display: flex;
                border: 1px solid red;
                height: 23px;
                width: 23px;
                background: white;
                border-radius: 62%;
                margin-top: 5px;
                margin-left: 18px;

                .round {
                    a {
                        text-decoration: none;
                    }

                    text-align: center;
                    color: gray;
                    width: 15px;
                    height: 15px;
                    background: #4A1D73;
                    margin-top: 3px;
                    margin-left: 3px;
                    border-radius: 50%;
                }


            }






            .sent1 {
                width: 253px;
                margin-left: 20px;
                margin-top: 5px;
            }

            .star {
                margin-left: 18px;
                list-style: none;
                color: #EAEAEA;

                span {
                    color: #686b6f;
                    font-size: 12px;
                }

                a {
                    text-decoration: none;
                    font-size: 15px;
                    color: #EAEAEA;

                    i {
                        color: #EAEAEA;

                    }

                }

            }

            .price {
                display: flex;
                gap: 10px;
                margin-left: 20px;
                margin-top: 30px;

                .price1 {
                    span {
                        color: black;
                        font-weight: bold;
                        font-size: 25px;
                    }

                }


                .price2 {
                    margin-top: 8px;

                    del {
                        color: #686b6f;
                    }
                }
            }

            .endshop {
                display: flex;

                .endirim1 {
                    margin-left: 20px;

                    span {

                        color: #39B56E;
                        font-size: 12px;
                    }

                }

            }

            .icon2 {
                border-radius: 50%;
                box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
                width: 50px;
                height: 50px;
                margin-left: 220px;

                a {
                    i {
                        padding-top: 15px;
                        padding-left: 10px;
                        font-size: 25px;
                        color: red;
                    }

                }
            }

            .month {
                margin-left: 20px;

                a {
                    text-decoration: none;

                    span {
                        color: #686b6f;
                        font-size: 15px;
                        margin-left: 8px;
                        border-bottom: 1px dashed black;

                    }

                    i {
                        color: #FD6A00;
                    }
                }
            }

        }

    }

}