#up {
    margin-top: 22px;
}

body{
height: 3000px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.logo {
    width: 150px;
    a{
        img {
            width: 100%;
        }
    }

   
}

.navbar {
    width: 750px;

    ul {
        list-style: none;
        margin-top: 3px;

        li {
            transition: 0.4s;

            &:first-child {
                a {
                    color: #ec2127;
                }
            }

            &:not(:last-child) {
                margin-right: 15px;
            }

            a {
                color: #53595c;
                font-size: 15px;
                font-weight: 400;
                font-family: Arial, Helvetica, sans-serif;
                opacity: 1;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }
}



.right {

    display: flex;
    justify-content: space-around;
    align-items: center;

    .call-back {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 70px;

        a {
            color: #232222;
            font-weight: bold;
            font-size: 32px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .call-inform {
            margin-left: 10px;
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    .az-ru {
        a {
            color: black;
            opacity: 1;

            &:nth-child(2) {
                opacity: 0.7;
            }
        }
    }
}




#phone-header {
    .box {
        margin-top: 20px;

        i {
            color: black;
            font-size: 20px;
        }

        .left {

            .phone {
                margin-left: 20px;
            }

        }

        .center {
            .logo {
                width: 100px;

                img {
                    width: 100px;
                }
            }
        }

        .right {
            .search {
                margin-right: 20px;

            }
        }
    }

}


#down {
    background-color: #3C3F42;
    margin-top: 15px;
   

    .left {
        height: 64px;
        display: flex;
        align-items: center;

        .menu {
            background-color: #232222;
            padding: 20px;
            width: 310px;
            height: 100%;
            display: flex;
            align-items: center;

            .menu-button {
                i {
                    font-size: 25px;
                    color: white;
                }
            }

            .catalog {
                margin-left: 20px;

                span {
                    font-size: 16px;
                    color: #FFFFFF;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }



        .search {
            width: 590px;
            height: 40px;
            background-color: white;
            border-radius: 5px;
            border: 1px solid;
            margin-left: 6px;
            display: flex;
            justify-content: space-between;

            input {
                outline: none;
                border: none;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            button {
                border: none;
                background-color: white;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

    }


    .right {
        margin-left: 25px;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .enter-account {
            display: flex;
            justify-content: center;

            a {
                border: 2px solid white;
                border-radius: 50%;
                text-align: center;
                padding: 4px;
                width: 30px;
                height: 30px;

                i {
                    font-size: 18px;
                    color: white;
                }
            }

            span {
                margin-left: 10px;
                font-size: 16px;
                color: white;
            }
        }

        .icons {
            width: 110px;
            display: flex;
            justify-content: space-around;

            a {
                i {
                    font-size: 20px;
                    color: white;
                }
            }
        }
    }
}




#menu {

    .slider-menu {

        ul {
            padding-left: 15px;
            li {
                a {
                    font-size: 14px;
                    i {
                        font-size: 14px;
                        &:nth-child(3){
                            margin-left: 45px;
                        font-size: 10px;

                            text-align: end;
                        }
    
                    }


                    img {
                        width: 20px;
                        height: 25px;
                    }

                }


            }
        }
    }



}